  
  
  {{!-- <nav>
    <div class="nav-wrapper container">
      <a href='/' class="brand-logo">Easy Hair</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#unless req.user}}
        <li><a href="/login">Entrar</a></li>
        <li><a href="/signup">Cadastrar</a></li>
        {{else}}
        <li><a href="/user/profile"><i class="material-icons left">account_circle</i>{{ req.user.userName }}</a></li>
        <li><a href="/logout">Sair</a></li>
        {{/unless}}
      </ul>
    </div>
  </nav> --}}

{{!-- 
<% if (!currentUser) { %>
						<li><a href='/login'>Login</a></li>
						<li><a href='/register'>Sign Up</a></li>
					<% } else { %>
						<li><a href="">In As <%= currentUser.username %></a></li>
						<li><a href='/logout'>Logout</a></li>
					<% } %>	 --}}
