<div class="container">

<h4> Olá <span class="red-text text-lighten-3">{{ currentUser.userName }}</span>! Confira sua agenda de serviços e acesse seu(s) estabelecimento(s) </h4>

<p>Minha agenda</p>

<p><a href='/user/{{ this._id }}/edit '>Atualizar meus dados</a></p>

<p>Voltar para a <a href="/">página inicial</a></p>

<p class=""><a href="/owner/add-saloon">Cadastrar salão</a></p>

<p><a href="/owner/my-saloon">Meus Salões</a></p>

</div>
