{{ this.userName }}, insira uma senha diferente da atual.

<form action="edit-password/{{this._id}}" method='POST'>
<label for="password">Nova senha</label>
<input id="password" name="password" type="password">
<br>
<label for="password-confirmation">Confirmar nova senha</label>
<input id="password-confirmation" name="passwordConfirmation" type="password">
{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
<button type="submit">Alterar</button>
</form>
