<div class="row container red lighten-5">
  <h3 class="center">Editar minha senha</h3>
  <h6 class="center">{{ this.userName }}, insira uma senha diferente da atual</h6>
  
  
  <form class="col s8 offset-s2" action="edit-password/{{this._id}}" method='POST'>
    <div class="row">
      <p class="left"><a href="/user/{{ this._id }}/edit">Retornar a pagina de edição</a></p>
      <div class="input-field col s12">
        <input name="password" type="password">
        <label>Digite uma nova senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="passwordConfirmation" type="password">
        <label>Confirme a nova senha</label>
      </div>
    </div>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
    <button class="btn waves-effect waves-light" type="submit">Salvar<i class="material-icons right">edit</i></button>
  </form>
  
</div>
