<div class="container">

{{#if error}}
  <div class="card-panel red lighten-4">{{error}}</div>
{{/if}}
{{#if success}}
  <div class="card-panel teal lighten-4">{{success}}</div>
{{/if}}

<div class="row container red lighten-5">
    <h2 class="center">Agendar horario</h2>
    <form class="col s8 offset-s2" action="/schedules/{{currentSaloon}}/{{currentService}}/create-schedule" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Escolha data" type="date" name="dateOfService" class="datepicker">
          <label for="dateOfService">Preencha a data</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
        <select name="timeOfService">
          <option value="">Escolha seu horario</option>
          <option value="08:00">08:00</option>
          <option value="08:30">08:30</option>
          <option value="09:00">09:00</option>
          <option value="09:30">09:30</option>
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
          <option value="11:30">11:30</option>
          <option value="13:00">13:00</option>
          <option value="13:30">13:30</option>
          <option value="14:00">14:00</option>
          <option value="14:30">14:30</option>
          <option value="15:00">15:00</option>
          <option value="15:30">15:30</option>
          <option value="16:00">16:00</option>
          <option value="16:30">16:30</option>
          <option value="16:00">17:00</option>
          <option value="16:30">17:30</option>
          <option value="16:00">18:00</option>
          <option value="16:30">18:30</option>
          <option value="16:00">19:00</option>
          <option value="16:30">19:30</option>
          <option value="16:00">20:00</option>
          <option value="16:30">20:30</option>
          <option value="16:00">21:00</option>
          <option value="16:30">21:30</option>
        </select>
        </div>
    
      </div>
      

      <button class="btn waves-effect waves-light" type="submit">Confirmar agendamento<i class="material-icons right">send</i></button>
    </form>
  </div>
  
  </div>