<h1> Olá {{ this.userName }}! Confira sua agenda de serviços e atualize seus dados <h1>

<h3>Minha agenda</h3>

<h3><a href='/user/{{ this._id }}/edit '>Atualizar meus dados</a></h3>

<p>Voltar para a <a href="/">página inicial</a></p>

<p><a href="/owner">I am saloon owner</a></p>



