{{> navPartial }}

<div class="container">

<h4> Olá <span class="red-text text-lighten-3">{{ this.userName }}</span>! Confira sua agenda de serviços e atualize seus dados </h4>

<p><a href="/schedules/my-schedule">Minha agenda</a></p>

<p><a href='/user/{{ this._id }}/edit '>Atualizar meus dados</a></p>

<p>Voltar para a <a href="/">página inicial</a></p>

<p class=""><a href="/owner/add-saloon">Cadastrar meu salão</a></p>

<p><a href="/owner">Possuo estabelecimento cadastrado</a></p>


</div>



