#vertical-space {
  height: 30px;
  background: black;
  display:block;
}

.my-saloon-link {
  display: none;
}

#map {
  height: 500px;
  width: 100%;
 }

 .inline-btn {
   display: inline;
 }

 #sizeCard {
  width: 50%;
 }

 #imageCard {
  max-height:200px;
  height: auto;
  
 }

