  <section class="container">
    
  <h1>Cadastrar meu salão</h1>
  {{#if error}}
    <div class="card-panel red lighten-4">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="card-panel teal lighten-4">{{success}}</div>
  {{/if}}

<div class="row">
  <div class="col m6 s12">
    <label class="sr-only" for="inputAddressQuery">Pesquise seu estabelecimento ou insira seu endereço</label>
    <input type="text" name="inputAddressQuery" id="inputAddressQuery" placeholder="Pesquisar" aria-label="Search for a spot" aria-describedby="search-spot">
    <div>
      <button id="searchAddressQuery"  class="waves-effect waves-light btn" type="submit"><i class="material-icons medium left">search</i>Pesquisar</button>
    </div>
    
    {{!-- <ul id="queryResult"></ul> --}}
    <table class="centered striped">
      <thead>
        <tr>
            <th>Nome Estabelecimento</th>
            <th>Endereço</th>
            <th>Preencher cadastro</th> 
        </tr>
        
    </thead>
    <tbody id="queryResult">

    </tbody>
    </table>

  </div>
    <div id="map" class="col m6 s12"></div>

</div>
  
</section>




<div class="row container red lighten-5">
  <h4 class="center-align">Dados do Salão</h4>
  <br>

  
  
  <form action="/owner/add-saloon" id="form-container" class="col s8 offset-s2"  method="POST" enctype="multipart/form-data">

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Nome do Estabelecimento" id="saloonName" name="saloonName" type="text" class="validate">
        <label for="saloonName">Nome do Estabelecimento</label>
        <div id="blockedFieldsaloonName"></div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" id="saloonEmail" name="saloonEmail" type="text" class="validate">
        <label for="saloonEmail">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Telefone" id="contactNumber" name="contactNumber" type="text" class="validate">
        <label for="contactNumber">Telefone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Endereço" id="fullAddress" name="fullAddress" type="text" class="validate">
        <label for="fullAddress">Endereço</label>
        <div id="blockedFieldfullAddress"></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea placeholder="Horário de Funcionamento" id="businessHours" name="businessHours" type="text" class="validate" rows="7"></textarea>
        <label for="businessHours">Horário de Funcionamento</label>
      </div>
    </div>
      
    <label for="coverPhoto">Selecione uma Foto de Capa</label><br>
    <input id="coverPhoto" type="file" name="photo" class="">
  
    <input type="hidden" id="saloonPosition" name="saloonPosition" type="text">
    <input type="hidden" id="placeID" name="placeID" type="text">
    <input type="hidden" id="ratingFromGoogle" name="ratingFromGoogle" type="number">
    <div id="imageGallery"></div>
    <div id="reviewsFromGoogle"></div>
    <br><br>
    <button class="btn waves-effect waves-light" type="submit">Cadastrar meu salão<i class="material-icons right">send</i></button>
    <div id="clearForm"></div>

  </form>

</div>

  <!-- JavaScript -->
  <script src="/javascripts/add-saloon.js"></script>