  <section class="container">
    
  <h1>Cadastrar meu salão</h1>
  {{#if error}}
    <div class="card-panel red lighten-4">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="card-panel teal lighten-4">{{success}}</div>
  {{/if}}

  <div class="row">
    <div class="col m6 s12">
      <label class="sr-only" for="inputAddressQuery">Pesquise seu estabelecimento ou insira seu endereço</label>
      <input type="text" name="inputAddressQuery" id="inputAddressQuery" placeholder="Pesquisar" aria-label="Search for a spot" aria-describedby="search-spot">
      <div>
        <button id="searchAddressQuery"  class="waves-effect waves-light btn" type="submit"><i class="material-icons medium left">search</i>Pesquisar</button>
        <button id="addAddressQuery"  class="waves-effect waves-light btn blue lighten-2"><i class="material-icons medium left">add</i>Preencher com esse endereço</button>
      </div>
      
      {{!-- <ul id="queryResult"></ul> --}}
      <table class="centered striped">
        <thead>
          <tr>
              <th>Nome Estabelecimento</th>
              <th>Endereço</th>
              <th>Preencher cadastro</th> 
          </tr>
          
      </thead>
      <tbody id="queryResult">

      </tbody>
      </table>
  
    </div>
      <div id="map" class="col m6 s12"></div>

</div>
  
</section>




<div class="row container red lighten-5">
  <h4 class="center-align">Dados do Salão</h4>
  <br>
<div id="clearForm"></div>
  
  
  <form action="/owner/add-saloon" id="form-container" class="col s8 offset-s2"  method="POST" enctype="multipart/form-data">

    {{!-- <label for="saloonName">Nome do Estabelecimento</label><br>
    <input id="saloonName" type="text" name="saloonName" class="">
    <div id="blockedFieldsaloonName"></div> --}}

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Nome do Estabelecimento" id="saloonName" name="saloonName" type="text" class="validate">
        <label for="saloonName">Nome do Estabelecimento</label>
        <div id="blockedFieldsaloonName"></div>
      </div>
    </div>
    {{!-- <br><br>
    <label for="saloonEmail">Email</label><br>
    <input id="saloonEmail" type="text" name="saloonEmail" class="form-control-lg"> --}}
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" id="saloonEmail" name="saloonEmail" type="text" class="validate">
        <label for="saloonEmail">Email</label>
        <div id="blockedFieldsaloonsaloonEmail"></div>
      </div>
    </div>
      {{!-- <br><br>
    <label for="contactNumber">Telefone</label><br>
    <input id="contactNumber" type="text" name="contactNumber" class="form-control-lg"> --}}
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Telefone" id="contactNumber" name="contactNumber" type="text" class="validate">
        <label for="contactNumber">Telefone</label>
        <div id="blockedFieldcontactNumber"></div>
      </div>
    </div>
      {{!-- <br><br> --}}
    {{!-- <label for="fullAddress">Endereço</label><br>
    <input id="fullAddress" type="text" name="fullAddress" class="form-control-lg">
    <div id="addressChecker"></div>
    <div id="blockedFieldEndereço"></div> --}}
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Endereço" id="fullAddress" name="fullAddress" type="text" class="validate">
        <label for="fullAddress">Endereço</label>
        <div id="blockedFieldfullAddress"></div>
      </div>
    </div>

    {{!-- <br><br>
    <label for="businessHours">Horário de funcionamento</label><br>
    <textarea name="businessHours" id="businessHours" cols="50" rows="10"></textarea>
      <br><br> --}}

    <div class="row">
      <div class="input-field col s12">
        <textarea placeholder="Horário de Funcionamento" id="businessHours" name="businessHours" type="text" class="validate" rows="7"></textarea>
        <label for="businessHours">Horário de Funcionamento</label>
      </div>
    </div>

      {{!-- <br><br> --}}
    <label for="description">Descrição</label><br>
    <textarea name="description" id="description" cols="50" rows="5"></textarea>
      {{!-- <br><br> --}}
    <label for="coverPhoto">Selecione uma Foto de Capa</label><br>
    <input id="coverPhoto" type="file" name="photo" class="">
      {{!-- <br><br> --}}
    {{!-- <br> --}}
    <input type="hidden" id="saloonPosition" name="saloonPosition" type="text">
    <input type="hidden" id="placeID" name="placeID" type="text">
    <input type="hidden" id="ratingFromGoogle" name="ratingFromGoogle" type="number">
    <div id="imageGallery"></div>
    <div id="reviewsFromGoogle"></div>
    <br><br>
    <button class="btn waves-effect waves-light" type="submit">Cadastrar meu salão<i class="material-icons right">send</i></button>

  </form>

</div>

<div class="container">
  <p class="left">Voltar para o <a href="/user/profile"> meu perfil</a></p>
</div>


  <!-- JavaScript -->
  <script src="/javascripts/add-saloon.js"></script>