
<div class="container">
  <h3>My First Map</h3>
  <div id="map"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQpuEpO4UtIbYaCSI_-v9_bBuxOgTMbKw"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>