<h1>
  {{message}}
</h1>

<form action="/test2" method="post">
  <input type="text" name="userName" placeholder="Escreva seu nome" >
  <input type="text" name="userEmail" placeholder="Escreva seu e-mail" >
  <input type="text" name="cellphone" placeholder="Escreva seu telefone" >
  <input type="password" name="password" placeholder="Escreva sua senha" >
  <select>
    <option value="Owner">Proprietario de Salão</option>
    <option value="Customer" selected>Cliente</option>
  </select>
  <button type="submit">Salvar</button>
</form>
