<h1>Welcome to Easy Hair</h1>

{{#unless userName}}
  <a href="/login">Log in Now!</a>
  <a href="/signup">Signup</a>
{{else}}
  <a href="/user/profile">{{ userName }}</a>
  <a href="/logout">Logout</a>
{{/unless}}

