{{> navPartial }}
<h1>Bem vindo ao Easy Hair</h1>

  {{#unless req.user}}
  <li><a href="/login">Entrar</a></li>
  <li><a href="/signup">Cadastrar</a></li>
  {{else}}
  <li><a href="/user/profile">{{ req.user.userName }}</a></li>
  <li><a href="/logout">Sair</a></li>
  {{/unless}}