<h1>Welcome to Easy Hair</h1>

{{#unless req.user}}
  <a href="/login">Log in Now!</a>
  <a href="/signup">Signup</a>
{{else}}
  <a href="/user/profile">{{ req.user.userName }}</a>
  <a href="/logout">Logout</a>
{{/unless}}

{{ req.user.userName }}
