<div class="row container red lighten-5">

  {{#if error}}
    <div class="card-panel red lighten-4">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="card-panel teal lighten-4">{{success}}</div>
  {{/if}}

  <h2 class="center">Entrar na minha conta</h2>

  <form class="col s8 offset-s2" action="/login" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" id="email" name="userEmail" type="text" >
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" name="password"  type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}

    <button class="btn waves-effect waves-light" type="submit">Entrar<i class="material-icons right">send</i></button> <br><br>

    <p>Ainda não tem uma conta conosco?<a href="/signup"> Criar minha conta.</a></p>
    
  </form>

</div>