<div class="row container red lighten-5">
  {{#if error}}
    <div class="card-panel red lighten-4">{{error}}</div>
  {{/if}}
  {{#if success}}
    <div class="card-panel teal lighten-4">{{success}}</div>
  {{/if}}
  <h2 class="center">Cadastre-se</h2>
  <form class="col s8 offset-s2" action="/signup" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Nome Completo" id="name" name="userName" type="text" class="validate">
        <label for="name">Nome Completo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="DDD + Celular" id="cellphone" name="cellphone" type="tel" class="validate">
        <label for="cellphone">Celular</label>
        <span class="helper-text" data-error="wrong" data-success="right">Siga esse formato: (xx) 12345-1234</span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          {{!-- type="email" class="validate" --}}
        <input placeholder="Email" id="email" name="userEmail" type="text">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Confirmação do Email" id="email-confirmation" type="text">
        <label for="email-confirmation">Confirmação de Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" name="password"  type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}

    <button class="btn waves-effect waves-light" type="submit">Cadastrar <i class="material-icons right">send</i></button>

  </form>
</div>